Repository ShekiiNazarita/JellyFin: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --quiet --fix, stylelint --fix

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["eslint --quiet --fix"],
  "src/**/*.{css,scss}": ["stylelint --fix"]
}

Address PR feedback
  src/components/confirm/confirm.ts
Due: eslint --quiet --fix

Override HEVC profile detection for Firefox
  src/scripts/browserDeviceProfile.js
Due: eslint --quiet --fix

contributors
  CONTRIBUTORS.md
Due: none

update regex
  src/components/confirm/confirm.ts
Due: eslint --quiet --fix

Add Favorites View
  src/apps/experimental/components/drawers/MainDrawerContent.tsx
  src/apps/experimental/components/library/FavoritesSectionView.tsx
  src/apps/experimental/components/library/PageTabContent.tsx
  src/apps/experimental/components/tabs/tabRoutes.ts
  src/apps/experimental/routes/asyncRoutes/user.ts
  src/apps/experimental/routes/favorites.tsx
  src/apps/experimental/routes/home.tsx
  src/apps/experimental/routes/livetv/index.tsx
  src/apps/experimental/routes/movies/index.tsx
  src/apps/experimental/routes/music/index.tsx
  src/apps/experimental/routes/shows/index.tsx
  src/controllers/list.js
  src/hooks/useFetchItems.ts
  src/strings/en-us.json
  src/types/libraryTabContent.ts
  src/types/sections.ts
  src/utils/sections.ts
Due: eslint --quiet --fix

add ability to select QSV device in the UI
  src/controllers/dashboard/encodingsettings.html
  src/controllers/dashboard/encodingsettings.js
  src/strings/en-us.json
Due: eslint --quiet --fix

update with a more detailed help message
  src/strings/en-us.json
Due: none

Add OriginalLanguage as option to PreferredAudioLanguage
  CONTRIBUTORS.md
  src/components/playbackSettings/playbackSettings.js
  src/components/settingshelper.js
  src/strings/en-gb.json
  src/strings/en-us.json
  src/strings/sv.json
Due: eslint --quiet --fix

Fix settinghelper.js
  src/components/settingshelper.js
Due: eslint --quiet --fix

Add OriginalLanguage to metadataEditor
  src/components/metadataEditor/metadataEditor.js
  src/components/metadataEditor/metadataEditor.template.html
  src/strings/en-gb.json
  src/strings/en-us.json
  src/strings/sv.json
Due: eslint --quiet --fix

Remove translations
  src/strings/en-gb.json
  src/strings/sv.json
Due: none

Remove txtOriginalLanguage querySelector if Type is Person
  src/components/metadataEditor/metadataEditor.js
Due: eslint --quiet --fix

Add Series Timer Schedule Section
  src/apps/experimental/features/details/components/section/SeriesTimerSchedule.tsx
  src/apps/experimental/routes/details/index.tsx
  src/hooks/api/liveTvHooks/index.ts
  src/hooks/api/liveTvHooks/useGetTimers.ts
  src/types/listOptions.ts
Due: eslint --quiet --fix

Add Next Up Section
  src/apps/experimental/features/details/components/section/NextUp.tsx
  src/apps/experimental/routes/details/index.tsx
  src/hooks/api/tvShowsHooks/index.ts
  src/hooks/api/tvShowsHooks/useGetNextUp.ts
Due: eslint --quiet --fix

Add Pogram Guide Section
  src/apps/experimental/features/details/components/section/PogramGuide.tsx
  src/apps/experimental/features/details/hooks/useGetGroupProgramsByDate.ts
  src/apps/experimental/routes/details/index.tsx
Due: eslint --quiet --fix

Add Collection Items Section
  src/apps/experimental/features/details/components/section/CollectionItems.tsx
  src/apps/experimental/features/details/hooks/useGetCollectionItemsByType.ts
  src/apps/experimental/routes/details/index.tsx
Due: eslint --quiet --fix

Add Children Section
  src/apps/experimental/features/details/components/section/ChildrenItems.tsx
  src/apps/experimental/features/details/components/section/ChildrenSection.tsx
  src/apps/experimental/features/details/components/section/ItemsByName.tsx
  src/apps/experimental/features/details/components/section/PlaylistViewer.tsx
  src/apps/experimental/features/details/components/section/PogramGuide.tsx
  src/apps/experimental/features/details/hooks/useChildrenItems.ts
  src/apps/experimental/features/details/hooks/useItemsByName.ts
  src/apps/experimental/routes/details/index.tsx
  src/hooks/api/playlistsHooks/index.ts
  src/hooks/api/playlistsHooks/useGetPlaylistItems.ts
Due: eslint --quiet --fix

Add Additional Parts Section
  src/apps/experimental/features/details/components/section/AdditionalParts.tsx
  src/apps/experimental/routes/details/index.tsx
  src/hooks/api/videosHooks/index.ts
  src/hooks/api/videosHooks/useGetAdditionalPart.ts
Due: eslint --quiet --fix

Add More From Season Section
  src/apps/experimental/features/details/components/section/MoreFromSeason.tsx
  src/apps/experimental/routes/details/index.tsx
  src/hooks/api/tvShowsHooks/index.ts
  src/hooks/api/tvShowsHooks/useGetEpisodes.ts
Due: eslint --quiet --fix

Add More From Artist Section
  src/apps/experimental/features/details/components/section/MoreFromArtist.tsx
  src/apps/experimental/routes/details/index.tsx
  src/hooks/api/itemsHooks/index.ts
  src/hooks/api/itemsHooks/useGetItems.ts
  src/hooks/api/liveTvHooks/useGetChannel.ts
Due: eslint --quiet --fix

Add Cast And Crew Section
  src/apps/experimental/features/details/components/detailsGroup/useGroupItemLinks.tsx
  src/apps/experimental/features/details/components/section/CastAndCrewSection.tsx
  src/apps/experimental/routes/details/index.tsx
  src/components/cardbuilder/Card/CardHoverMenu.tsx
  src/components/cardbuilder/Card/CardImageContainer.tsx
  src/components/cardbuilder/Card/CardOverlayButtons.tsx
  src/components/cardbuilder/Card/Cards.tsx
  src/components/cardbuilder/Card/cardHelper.ts
  src/components/cardbuilder/Card/useCard.ts
  src/components/cardbuilder/Card/useCardImageUrl.ts
  src/components/common/DefaultIconText.tsx
  src/types/base/models/item-dto.ts
  src/types/base/models/item-kind.ts
  src/utils/image.ts
Due: eslint --quiet --fix

Add Series Schedule Section
  src/apps/experimental/features/details/components/section/SeriesSchedule.tsx
  src/apps/experimental/routes/details/index.tsx
  src/hooks/api/liveTvHooks/index.ts
  src/hooks/api/liveTvHooks/useGetLiveTvPrograms.ts
Due: eslint --quiet --fix

Add Special Features Section
  src/apps/experimental/features/details/components/section/SpecialFeatures.tsx
  src/apps/experimental/routes/details/index.tsx
  src/hooks/api/userLibraryHooks/index.ts
  src/hooks/api/userLibraryHooks/useGetSpecialFeatures.ts
Due: eslint --quiet --fix

Add Music Videos Section
  src/apps/experimental/features/details/components/section/MusicVideos.tsx
  src/apps/experimental/routes/details/index.tsx
Due: eslint --quiet --fix

Add Scenes Section
  src/apps/experimental/features/details/components/DetailBanner.tsx
  src/apps/experimental/features/details/components/section/Scenes.tsx
  src/apps/experimental/routes/details/index.tsx
  src/components/cardbuilder/Card/Cards.tsx
  src/components/cardbuilder/Card/useCard.ts
  src/components/cardbuilder/ChapterCard/CardBox.tsx
  src/components/cardbuilder/ChapterCard/ChapterCard.tsx
  src/components/cardbuilder/ChapterCard/ChapterCards.tsx
  src/components/cardbuilder/ChapterCard/useChapterCard.ts
  src/components/cardbuilder/ChapterCard/useChapterCardImageUrl.ts
  src/components/common/DefaultIconText.tsx
  src/components/common/DefaultName.tsx
  src/components/common/Media.tsx
  src/types/cardOptions.ts
  src/types/dataAttributes.ts
  src/utils/items.ts
Due: eslint --quiet --fix

Add Similar Items Section
  src/apps/experimental/features/details/components/section/SimilarItems.tsx
  src/apps/experimental/routes/details/index.tsx
  src/hooks/api/libraryHooks/index.ts
  src/hooks/api/libraryHooks/useGetDownload.ts
  src/hooks/api/libraryHooks/useGetSimilarItems.ts
Due: eslint --quiet --fix

Add Lyrics Section
  src/apps/experimental/features/details/components/section/Lyrics.tsx
  src/apps/experimental/routes/details/index.tsx
  src/components/listview/listview.scss
  src/hooks/api/lyricsHooks/index.ts
  src/hooks/api/lyricsHooks/useGetLyrics.ts
Due: eslint --quiet --fix, stylelint --fix

Add Series Recording Editor Container
  src/apps/experimental/features/details/components/DetailSecondaryContainer.tsx
  src/apps/experimental/features/details/components/SeriesRecordingEditorContainer.tsx
  src/apps/experimental/features/details/components/section/SeriesTimerSchedule.tsx
  src/components/common/Media.tsx
  src/components/guide/programs.scss
  src/components/listview/List/ListImageContainer.tsx
Due: eslint --quiet --fix, stylelint --fix

Add logo
  src/apps/experimental/features/details/components/DetailBanner.tsx
  src/apps/experimental/features/details/components/DetailLogo.tsx
  src/apps/experimental/features/details/components/DetailPrimaryContainer.tsx
  src/apps/experimental/features/details/components/DetailSecondaryContainer.tsx
  src/apps/experimental/features/details/components/detailsGroup/useGroupItemLinks.tsx
  src/apps/experimental/features/details/components/section/PlaylistViewer.tsx
  src/apps/experimental/features/details/utils/items.ts
  src/apps/experimental/routes/details/details.scss
  src/apps/experimental/routes/details/index.tsx
  src/components/cardbuilder/Card/cardHelper.ts
  src/components/cardbuilder/card.scss
Due: eslint --quiet --fix, stylelint --fix

upate tag support to list view
  src/apps/experimental/features/details/components/detailsGroup/useGroupItemLinks.tsx
Due: eslint --quiet --fix

Securize CI, reusable workflows, simplifications
  .github/workflows/__automation.yml
  .github/workflows/__codeql.yml
  .github/workflows/__deploy.yml
  .github/workflows/__job_messages.yml
  .github/workflows/__package.yml
  .github/workflows/__quality_checks.yml
  .github/workflows/build.yml
  .github/workflows/codeql.yml
  .github/workflows/commands.yml
  .github/workflows/pr-suggestions.yml
  .github/workflows/pull_request.yml
  .github/workflows/push.yml
  .github/workflows/quality.yml
  .github/workflows/schedule.yml
  .github/workflows/update-sdk.yml
  package.json
Due: none

Added support to shuffle theme media playback
  CONTRIBUTORS.md
  src/apps/experimental/features/preferences/hooks/useDisplaySettings.ts
  src/apps/experimental/features/preferences/types/displaySettingsValues.ts
  src/components/displaySettings/displaySettings.js
  src/components/displaySettings/displaySettings.template.html
  src/components/themeMediaPlayer.js
  src/scripts/settings/userSettings.js
  src/strings/en-us.json
Due: eslint --quiet --fix

Removed unused Jellyfin sdk and shuffle imports
  src/components/themeMediaPlayer.js
Due: eslint --quiet --fix

Refactored theme media playback settings menus based on github discussion #5958
  src/apps/experimental/features/preferences/components/BackgroundPlaybackPreferences.scss
  src/apps/experimental/features/preferences/components/BackgroundPlaybackPreferences.tsx
  src/apps/experimental/features/preferences/components/LibraryPreferences.tsx
  src/apps/experimental/routes/user/display/index.tsx
  src/apps/stable/routes/legacyRoutes/user.ts
  src/components/backgroundPlaybackSettings/backgroundPlaybackSettings.js
  src/components/backgroundPlaybackSettings/backgroundPlaybackSettings.template.html
  src/components/displaySettings/displaySettings.js
  src/components/displaySettings/displaySettings.template.html
  src/controllers/user/backgroundPlayback/index.html
  src/controllers/user/backgroundPlayback/index.js
  src/elements/emby-select/emby-select.js
  src/elements/emby-select/emby-select.scss
  src/strings/en-us.json
Due: eslint --quiet --fix, stylelint --fix

Address feedback on shuffle theme PR
  src/components/displaySettings/displaySettings.js
  src/components/themeMediaPlayer.js
  src/scripts/settings/userSettings.js
Due: eslint --quiet --fix

Handle ThemeMedia sort queries server side
  src/components/displaySettings/displaySettings.template.html
  src/components/themeMediaPlayer.js
Due: eslint --quiet --fix

Removed unused import and variables to address eslint
  src/apps/experimental/features/preferences/components/BackgroundPlaybackPreferences.scss
  src/apps/experimental/features/preferences/components/BackgroundPlaybackPreferences.tsx
  src/components/backgroundPlaybackSettings/backgroundPlaybackSettings.js
  src/components/displaySettings/displaySettings.js
  src/controllers/user/backgroundPlayback/index.js
Due: eslint --quiet --fix, stylelint --fix

Refactoring Section Container
  src/apps/experimental/components/library/GenresItemsContainer.tsx
  src/apps/experimental/components/library/GenresSectionContainer.tsx
  src/apps/experimental/components/library/ItemsView.tsx
  src/apps/experimental/components/library/ProgramsSectionView.tsx
  src/apps/experimental/components/library/SectionContainer.tsx
  src/apps/experimental/components/library/SuggestionsSectionView.tsx
  src/apps/experimental/components/library/UpcomingView.tsx
  src/components/common/NoItemsMessage.tsx
  src/components/common/SectionContainer.tsx
  src/elements/emby-itemscontainer/ItemsContainer.tsx
  src/elements/emby-scroller/Scroller.tsx
Due: eslint --quiet --fix

apply suggestion
  src/apps/experimental/components/library/ProgramsSectionView.tsx
Due: eslint --quiet --fix
